body{
    background-color:  #720e9e;
}
.responsive{
    height: auto;
    width: 100%;
}
.box:hover{
    box-shadow: rgb(141, 133, 133);
    transition: 0.4s;
    transform: scale(1.02);
    cursor: pointer;
}
img{
    margin-bottom: 25px;
}

@media (min-width:1199px){
    img{
        width: 100%;
        height: 60vh;
       }
}